*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(250, 28, 39, 0.5),rgba(90, 233, 90, 0.5)50%),url(ASChart.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width:85% ;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icon{
    width: 20px;
    float:center;
    height: 70px;
}
.logo{
    color: rgb(255, 129, 10);
    font-size: 45px;
    font-family:fantasy;
    font-display:initial;
    float: inline-end;
    padding-top: 5px;
}
.navbar ul li{
    list-style: none;
    
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
}
.content{
    color: rgb(3, 53, 20);
    font-size: 20px;
    font-family:fantasy;
    font-display:initial;
    float: inline-end;
    padding-left:100px;
    padding-top: 5px;
}
.paragraph{
    color: rgb(24, 24, 2);
    font-size: 15px;
    font-family:cursive;
    font-style: italic;
    font-display:initial;
    float: inline-end;
    padding-left:5px;
    padding-top: 50px;

}
.LGT{
    color: rgb(58, 71, 5);
    font-size: 40px;
    font-style: oblique;
    padding-left: 250px;

    padding-top: 350px;


    
}

.Que{
    width: 250px;
    height: 400px;
    background:linear-gradient(rgb(138, 231, 158), rgb(94, 71, 71));
    position: absolute;
    top: 100px;
    left: 1000px;
    border-radius: 10px;

    border-color:black;
    padding: 25px;
}



.Que .li{
    color: black;
    background-color: rgb(255, 136, 0);
    font-family: sans-serif;
    padding-top: 100 px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: black;
}
.Que .acc{
    padding-top: 20px;
}
.Que .su{
    background-color:  rgb(255, 136, 0);
    border-color: black;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.faq{
    width: 500px;
    position: absolute;
    padding-left: 20px;
    padding-bottom: 10px;
    left: 100px;
    top: 400px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    background: linear-gradient(rgb(118, 211, 64), rgb(101, 188, 238));
}
.faq .q1ans{
    font-style: italic;
}
.faq .q2ans{
    font-style: italic;
}

